<h2>
    {{ title }}</h2>
<ul>
    <li *ngFor='let c of courses'>
        {{c}}
    </li>
</ul>
<button class="btn btn-primary" [class.active]="isActive">Save - class binding</button>
<br>
<button [style.backgroundColor]="isActive ? 'lightblue' : 'smoke'">Save - style binding</button>
<br>
<button id="eventBindingBtn" class="btn btn-primary" (click)="onSave($event)">Save - event binding</button>
<p>Event Bubbling</p>
<div (click)="onDivClicked()">
    <button id="eventBindingBtn" class="btn btn-primary" (click)="onSave($event)">Save - event binding</button>
</div>
<table class="table">
    <tr>
        <td [attr.colspan]="colSpan">Test</td>
    </tr>
</table>
<br> Input Stuff
<input (keyup)="onKeyUpOldSchool($event)">
<input (keyup.enter)="onKeyUp()">
<br> Template referencing instead of $event ?? https://angular.io/guide/user-input
<input #box (keyup)="onKey(box.value)">
<p>{{values}}</p>

<br> Filter The #boxF is a variable
<input #boxF (keyup.enter)="onEnter(boxF.value)">
<p>{{value}}</p>
<br>
<input class="form-control" #email (keyup.enter)="onEnterEmail(email.value)" placeholder="enter email">