<h2>
    {{ title }}</h2>
<ul>
    <li *ngFor='let c of courses'>
        {{c}}
    </li>
</ul>
<button class="btn btn-primary" [class.active]="isActive">Save - class binding</button>
<br>
<button [style.backgroundColor]="isActive ? 'lightblue' : 'smoke'">Save - style binding</button>
<br>
<button id="eventBindingBtn" class="btn btn-primary" (click)="onSave($event)">Save - event binding</button>
<p>Event Bubbling</p>
<div (click)="onDivClicked()">
    <button id="eventBindingBtn" class="btn btn-primary" (click)="onSave($event)">Save - event binding</button>
</div>
<table class="table">
    <tr>
        <td [attr.colspan]="colSpan">Test</td>
    </tr>
</table>